/* Basic Element Styles */
body {
    background-color: lightgray;
    margin: 0;
    height: stretch;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    border: 10px solid lightgray;
    border-style: ridge;
}

a {
    color: #000000;
}

p {
    background-color: lightgray;
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    border: 10px solid #000000;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0;
}



/* Dark Mode Styles */
.dark-mode {
    background-color: darkgray;
}

.dark-mode header {
    background-color: darkgray;
    
}

.dark-mode main {
    background-color: darkgray;
    
}


/* Header Styles */
header {
    background-color: lightgray;
    
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-radius: 15px;
    border-style: ridge;
    text-align: center;
}

/* Main Content Styles */
main {
    width: stretch;
    background-color: lightgray;
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-style: ridge;
    padding: 20px;
    margin: 20px;
}

/* Footer Styles */
footer {
    background-color: lightgray;
    padding: 1rem;
    font-size: 1.5rem;
    color: #100147;
    border: 10px solid lightgray;
    border-radius: 15px;
    text-align: center;
    border-style: ridge;
}

footer a {
    text-decoration: underline;
}

/* Collapsible Sections */
.collapsible {
    background-color: #002646;
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    border: none;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.content {
    display: none;
    background-color: #e9f5fb;
    padding: 20px;
    border-radius: 5px;
}

/* Progress Bar Styles */
.progress-bar-container {
    background-color: #ddd;
    border-radius: 5px;
    height: 40px;
    position: relative;
    margin: 20px 0;
}

.progress-bar {
    background-color: #002646;
    width: 0%;
    height: 200%;
    border: solid;
    
    position: absolute;
    transition: width 0.4s ease;
    border-radius: 5px;
}


ol{
    color: black
}

.progress-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightslategray;
    font-size: 20pt;
    font-weight: 600;
}

/* Rating and Stars Styling */
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.star, .star-filled {
    width: 24px;
    height: 24px;
}

.star {
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    fill: none;
    stroke: black;
}


.star-filled {
    fill: #ffe072;
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    stroke: black;
}



.rating:hover .rating-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Grid and Icon Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-radius: 15px;
    border-style: ridge;
    padding: 100px;
    text-align: center;
    font-size: 30pt;
    width: 100%;
    transition: transform 0.2s;
    box-sizing: border-box;
    background-color: #FFD43B;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
}

.grid-item:hover {
    transform: scale(1.11);
}






.icon {
    margin: 1rem;
    padding: 10px;
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.icon {
    text-decoration: none;
}


.icon:hover {
    color: #bbbbbb;
    transform: scale(1.2);
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #1802dad3;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #100147;
    font-size: 16pt;
}

a{
    color: #000000;
    text-decoration: none;
}

