/* Basic Element Styles */
body {
    background-color: #007ACC; /* Moderate Blue */
    margin: 0;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    border: 10px solid #004482; /* Deep Blue */
    border-style: ridge;
}

a {
    color: #000000; /* Black for links */
}

p {
    background-color: #007ACC; /* Moderate Blue */
    padding: 1rem;
    font-size: 2rem;
    color: #FFFFFF; /* White for text */
    border: 10px solid #000000; /* Black for border */
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #2A2A2A; /* Dark grey for dark mode */
}

.dark-mode header, .dark-mode main {
    background-color: #2A2A2A; /* Consistent dark mode background */
}

/* Header Styles */
header {
    background-color: #004482; /* Deep Blue */
    padding: 1rem;
    font-size: 2rem;
    color: #FFFFFF; /* White */
    border: 10px solid #D0D0D0; /* Light Grey */
    border-radius: 15px;
    border-style: ridge;
    text-align: center;
}

/* Main Content Styles */
main {
    background-color: #FFFFFF; /* White */
    border: 10px solid #007ACC; /* Moderate Blue */
    border-style: ridge;
    padding: 20px;
    margin: 20px;
}

/* Footer Styles */
footer {
    background-color: #004482; /* Deep Blue */
    padding: 1rem;
    color: #FFFFFF; /* White */
    border: 10px solid #007ACC; /* Moderate Blue */
    border-radius: 15px;
    text-align: center;
    border-style: ridge;
}

footer a {
    color: #FFFFFF; /* White */
    text-decoration: none;
    font-size: 20pt;
}

/* Collapsible Sections */
.collapsible {
    background-color: #004482; /* Deep Blue */
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    border: solid black;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.content {
    display: none;
    background-color: #D0D0D0; /* Light Grey */
    padding: 20px;
    border-radius: 5px;
}

/* Progress Bar Styles */
.progress-bar-container {
    background-color: #ddd;
    border-radius: 5px;
    height: 40px;
    position: relative;
    margin: 20px 0;
    border: solid;
}


.progress-bar {
    background-color: #007ACC; /* Moderate Blue */
    width: 0%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    transition: width 0.4s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #004482; /* Deep Blue */
    font-size: 20pt;
    font-weight: 600;
}

/* Rating and Stars Styling */
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.star, .star-filled {
    width: 24px;
    height: 24px;
}

.star {
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    fill: none;
    stroke: black;
}


.star-filled {
    fill: #ffe072;
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    stroke: black;
}



.rating:hover .rating-tooltip {
    visibility: visible;
    opacity: 1;
}


/* Grid and Icon Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #007ACC; /* Moderate Blue */
    border: 10px solid #D0D0D0; /* Light Grey */
    border-radius: 15px;
    padding: 100px;
    text-align: center;
    transition: transform 0.2s;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
}

.grid-item:hover {
    transform: scale(1.11);
}

.icon {
    color: #abb2bf;
}

.icon:hover {
    color: #2965f1; /* Update this color to match the theme */
    transform: scale(1.2);
}
