/* Basic Element Styles */
body {
    background-color: #E34F26; /* Classic HTML Red */
    margin: 0;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    border: 10px solid #E34F26; /* Classic HTML Red */
    border-style: ridge;
}

a {
    color: #000000; /* Black for links */
}

p {
    background-color: #E34F26; /* Classic HTML Red */
    padding: 1rem;
    font-size: 2rem;
    color: #FFFFFF; /* White for text in paragraphs */
    border: 10px solid #000000; /* Black border for paragraphs */
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #555555; /* Deep Grey for dark mode */
}

.dark-mode header {
    background-color: #555555;
}

.dark-mode main {
    background-color: #555555;
}

/* Header Styles */
header {
    background-color: #D3D3D3; /* Light Grey */
    padding: 1rem;
    font-size: 2rem;
    color: #000000; /* Black for text */
    border: 10px solid #555555; /* Deep Grey */
    border-radius: 15px;
    border-style: ridge;
    text-align: center;
}

/* Main Content Styles */
main {
    width: stretch;
    background-color: #FFFFFF; /* White */
    border: 10px solid #555555; /* Deep Grey */
    border-style: ridge;
    padding: 20px;
    margin: 20px;
}

/* Footer Styles */
footer {
    background-color: #D3D3D3; /* Light Grey */
    padding: 1rem;
    color: #000000; /* Black */
    border: 10px solid #E34F26; /* Classic HTML Red */
    border-radius: 15px;
    text-align: center;
    border-style: ridge;
}

footer a {
    text-decoration: none;
    font-size: 20pt;
    color: #000000; /* Black */
}

/* Collapsible Sections */
.collapsible {
    background-color: #E34F26; /* Classic HTML Red */
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    border: solid darkgray;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.content {
    display: none;
    background-color: #FFFFFF; /* White */
    padding: 20px;
    border-radius: 5px;
}

/* Progress Bar Styles */
.progress-bar-container {
    background-color: #ddd;
    border-radius: 5px;
    height: 40px;
    position: relative;
    margin: 20px 0;
    border: solid;
}

.progress-bar {
    background-color: #E34F26; /* Primary Blue */
    width: 0%;
    height: 100%;
    position: absolute;
    transition: width 0.4s ease;
}

.progress-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555555; /* Deep Grey */
    font-size: 20pt;
    font-weight: 600;
}

/* Rating and Stars Styling */
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.star, .star-filled {
    width: 24px;
    height: 24px;
}

.star {
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    fill: none;
    stroke: black;
}


.star-filled {
    fill: #ffe072;
    width: 5vw;  /* Example using viewport width */
    height: 5vw; /* Same as width to maintain aspect ratio */
    stroke: black;
}



.rating:hover .rating-tooltip {
    visibility: visible;
    opacity: 1;
}


/* Grid and Icon Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #D3D3D3; /* Light Grey */
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-radius: 15px;
    border-style: ridge;
    padding: 100px;
    text-align: center;
    transition: transform 0.2s;
    box-sizing: border-box;
    font-size: 75px;
}

.grid-item:hover {
    transform: scale(1.11);
}

.icon {
    margin: 1rem;
    padding: 10px;
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
}

.icon:hover {
    color: #2965f1;
    transform: scale(1.2);
}
