

/*Theme colors -  black, and yellow */
body {
    background-color: #000000;
    margin: 0;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    border: 10px solid orange;
    border-style: ridge;
}

header {
    background-color: darkorange;
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-radius: 15px;
    border-style: ridge;
    text-align: center;
}

main{
    width: 1500pxpx;
    background-color: white;
    border: 2px solid orange;
    border-style:ridge;
    padding: 20px;
    margin: 20px;
    
}


a{
    color: #000000;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-text {
    flex-grow: 1;
    margin-left: 111px;
}

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.icon {
    margin: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.icon {
    text-decoration: none;
}

.icon:hover {
    color: #19d800a6;
    transform: scale(1.2);
}

.dark-mode-toggle {
    font-size: 2rem;
    cursor: pointer;
    color: #a0a0a0;
}

.dark-mode {
    background-color: #282c35;
    color: #ffffff;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Two columns per row */
    gap: 20px;  /* Adjust the gap between items as needed */
}

.grid-item {
    border: 10px solid rgba(128, 128, 128, 0.712);
    border-radius: 15px;
    border-style: ridge;
    padding: 100px; 
    text-align: center;
    width: 100%;
    transition: transform 0.2s; 
    box-sizing: border-box; 
    background-color: orange;
    background-size: cover;
    
}

.grid-item:hover {
    transform: scale(1.11); 
}


.box-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

.box-link:visited .grid-item {
    background-color: rgb(199, 109, 0); /* sets visited box color*/
    color: black; /* sets visited box text color*/
}

p{
    background-color: darkorange;
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    border: 10px solid #000000;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0;
}


footer {
    background-color: #323330;
    padding: 1rem;
    font-size: 1.5rem;
    color: #100147;
    border: 10px solid orange;
    border-radius: 15px;
    text-align: center;
    border-style: ridge;
}

footer a{
    color: #1e68c9;
    text-decoration: underline;
}
