/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Standardizing font-family */
    background-color: #f7f7f7; /* Light grey background, neutral and professional */
    color: #333;
    line-height: 1.6;
    padding: 1em;
    margin: 0;
    overflow-x: hidden;
}

/* Header styles */
header {
    background-color: #306998; /* Deep blue, similar to Python logo */
    color: #FFF; /* White text for contrast */
    padding: 1rem;
    font-size: 2rem;
    border: 10px solid #ffe072; /* Yellow border */
    border-radius: 15px;
    text-align: center;
}

/* Main section styles */
main {
    max-width: 95%; /* Responsive width */
    background-color: #FFFFFF; /* White background for the main area */
    border: 2px solid #306998; /* Border color as header background */
    padding: 20px;
    margin: 20px auto; /* Centering main content */
}

/* Link styles */
a {
    color: #306998; /* Echoing deep blue from the header */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Flex container for header items */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for icons */
.icons-container {
    display: flex;
    justify-content: space-around; /* Distributes space around items evenly */
    align-items: center;
    width: 100%; /* Full width */
}

.icon {
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon:hover {
    color: #ffe072; /* Yellow accent on hover */
    transform: scale(1.2);
}

/* Dark mode specific styles */
.dark-mode {
    background: #282c35;
    color: rgb(82, 82, 82);
}

/* Collapsible sections */
.collapsible {
    background-color: #4B8BBE; /* Lighter blue, complementary to the primary blue */
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 5px;
    border: none;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.collapsible:hover, .active {
    background-color: #306998; /* Deeper blue for active/hover states */
}

/* Content inside collapsible sections */
.content {
    display: none;
    background-color: #e9f5fb; /* Soft blue for content background */
    padding: 20px;
    border-radius: 5px;
}

/* Progress bar and text */
.progress-bar-container {
    background-color: #ddd;
    border-radius: 5px;
    height: 20px;
    position: relative;
    margin: 20px 0;
}

.progress-bar {
    background-color: #ffe072; /* Yellow progress bar */
    width: 0%;
    height: 100%;
    position: absolute;
    transition: width 0.4s ease;
    border-radius: 5px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
}

/* Footer styles */
footer {
    background-color: #323330;
    color: #ffe072; /* Yellow text to stand out on dark background */
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border: 10px solid #ffe072; /* Yellow border */
    border-radius: 15px;
    margin-top: 20px; /* Added space above footer */
}

/* Rating and stars styling */
.rating {
    display: flex; /* Aligns stars horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px;
}

.star {
    width: 24px;
    height: 24px;
    fill: #bbb; /* Default star color */
}

.star-filled {
    fill: #ffe072; /* Gold color, matching the accent color */
}

.rating-tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.rating:hover .rating-tooltip {
    visibility: visible;
    opacity: 1;
}
