
main {
    padding: 2rem; 
    text-align: center;
    position: relative;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #808080a6;
}

header {
    background-color: #1702dac9;
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    
}

.header-container {
    display: flex;
    align-items: center;
}

.header-text {
    flex-grow: 1; /* Allow for header and icons on same horizontal */
    margin-left: 111px; /* Dirty way to center header text */
}

.intro {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #100147;
}

.icons-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;  
    align-items: flex-end;  
}


.icon {
    margin: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.icon {
    text-decoration: none;
}


.icon:hover {
    color: #19d800a6;
    transform: scale(1.2);
}

.dark-mode-toggle {
    font-size: 2rem;
    cursor: pointer;
    color: #161616;
}

.dark-mode {
    background-color: #666666;
}



#gears {
    display: block;
    margin: 0 auto; 
    position: absolute;
}

.overlay-container {
    position: absolute;
    pointer-events: none; /* Clicks pass through to the canvas */
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* Represents Two columns */
    gap: 20px; 
    width: 100%; 
     /* border: solid black 5px; *- for visualization purposes*/
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: solid black 5px; - for visualization purposes*/
}





.box {
    padding:75px;
    margin: 35px;
    width:220px;
    height: 100px;
    line-height: 100px; /*Center Text inside box*/ 
    text-align: center;
    background-color: #0092f3;
    color: #fff;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 10px; 
    border-style: ridge;
    transition: transform 0.2s;
    font-size: 36px;
}

.box-stretch {
    justify-content: center;
    padding: 0px;
    margin: 0px ; /* Vertically spaced, centered horizontally */
    width: 1700px;
}

.box:hover {
    background-color: #010c70; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.11);
}

.-box:visited {
    background-color: #5d0170; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


/* Mobile styles */
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Stack boxes on top of each other */
    }
  
    .box, .box-stretch {
      padding: 20px; /* Adjust padding for smaller screens */
      margin: 10px; /* Adjust margin for smaller screens */
      width: calc(100% - 20px); /* Adjust width to be full-width minus margin */
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .center-container {
      flex-direction: column; /* Stack center container content */
    }
  }
  
  /* This is to ensure the header text scales well on smaller screens */
  .header-text {
    margin-left: 0; /* Remove the dirty hack margin */
    text-align: center;
  }
  






footer {
    padding: 1rem;
    text-align: center;
    background-color: #1802dad3;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #100147;
}