body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #808080a6;
}

header {
    background-color: #1702dac9;
    padding: 1rem;
    font-size: 2rem;
    color: #100147;
    
}

.header-container {
    display: flex;
    align-items: center;
}

.header-text {
    flex-grow: 1; /* Allow for header and icons on same horizontal */
    margin-left: 111px; /* Dirty way to center header text */
}

.intro {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #100147;
}

.icons-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;  
    align-items: flex-end;  
}



.icon {
    margin: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: #abb2bf;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.icon {
    text-decoration: none;
}


.icon:hover {
    color: #19d800a6;
    transform: scale(1.2);
}

.dark-mode-toggle {
    font-size: 2rem;
    cursor: pointer;
    color: #a0a0a0;
}

.dark-mode {
    background-color: #282c35;
    color: #ffffff; 
}

main {
    padding: 2rem; 
    text-align: center;
    position: relative;
}

.gears-container {
    position: relative;
    display: inline-block;
}

#gears {
    display: block;
    margin: 0 auto; 
}

.overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}


.centered-box {
    width: 300px;
    height: 150px;
    background-color: #0092f3;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 10px; 
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.centered-box:hover {
    background-color: #010c70; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}




footer {
    padding: 1rem;
    text-align: center;
    background-color: #1802dad3;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #100147;
}