body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 0;
}



.grid-item {
    display: grid;               /* Establishes a grid container */
    place-items: center;         /* Shortcut to center items both horizontally and vertically */
    border: 2px solid #ccc;
    padding: 20px;               /* Adjust padding to manage space around the text */
    text-align: center;
    width: 100%;
    height: 100px;               /* Adjust height as needed */
    transition: transform 0.2s;
    box-sizing: border-box;
    background-color: #fff;
    background-size: cover;
}



.grid-item:hover {
    transform: scale(1.05); 
}

.grid-item:visited {
    background-color: darkgray
}

.difficulty {
    float: right;
}


.box-link {
    text-decoration: none;
    color: #333;
    height: 50px;
    line-height: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.box-link:visited .grid-item {
background-color: #9c9c9c;
}   

/* footer {
    padding: 1rem;
    text-align: center;
    background-color: #1802dad3;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #100147;
    font-size: 16pt;
}

a{
    color: #000000;
    text-decoration: none;
} */