body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 0;
}



.grid-item {
    border: 2px solid #ccc;
    padding: 50px; 
    text-align: center;
    width: 100%;
    height: 50px;
    transition: transform 0.2s; 
    box-sizing: border-box; 
    background-color: #fff;
    background-size: cover;  /* Ensures the background image covers the entire container */
}

/* Work In Progress! Does not work */
.grid-item.with-background {
    background-image: url("/Website/Extra/GearForWebPNG.png");
}


.grid-item:hover {
    transform: scale(1.05); 
}

.grid-item:visited {
    background-color: aqua;
}

.difficulty {
    float: right;
}


.box-link {
    text-decoration: none;
    color: #333;
    height: 50px;
    line-height: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.box-link:visited .grid-item {
background-color: #9c9c9c;
}   